<div *ngIf="method == ACTION_LIST">
    <div class="card" >
        <div class="row">
            <div class ="col-sm-12">
                <div class="card-header">
                    GROUP<button type="button" class="btn-link" (click)="callForm()">Add</button>
                </div>
                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                           <thead>
                            <tr>
                                <th>Action</th>
                                <th>Group Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let group of groups">
                                <td><button type="button" (click)="callForm(group.id)" class="btn-link">Edit</button> | <button type="button" class="btn-link" (click)="saveDelete(group.id)">Delete</button></td>
                                <td>{{ group.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="method == ACTION_UPDATE || method == ACTION_ADD">
    <form [formGroup]="group_form" (ngSubmit)="save()">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Group
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="form-group">       
                                <label>Group Name</label>
                                <input type="text" class="form-control" formControlName="name">                            
                                <div *ngIf="group_form.get('name').touched && group_form.get('name').hasError('required')" class="alert alert-danger">
                                    Group Name is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>