<!-- <form [formGroup]="rw_form" (ngSubmit)="addRw()">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Rw
                </div>
                <div class="card-body">
                    <div class="col-sm-12">
                        <div class="form-rw">       
                            <label>RW Number</label>
                            <input type="text" class="form-control" formControlName="rwNo">                            
                            <div *ngIf="rw_form.get('rwNo').touched && rw_form.get('rwNo').hasError('required')" class="alert alert-danger">
                                RW number is required.
                            </div>
                            
                            <label>RW Description</label>
                            <input type="text" class="form-control" formControlName="rwDescs">                            
                            <div *ngIf="rw_form.get('rwDescs').touched && rw_form.get('rwDescs').hasError('required')" class="alert alert-danger">
                                RW Description is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>
 -->

<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>
  <div class="content p-24">
<!--     <div class="button-row">
      <button mat-raised-button color="accent"
        (click)="openDialogDetail()">
        Add New
      </button>
      <button mat-raised-button color="accent"
        (click)="openDialogDetailEdit()">
        Edit
      </button>
      <button mat-raised-button color="warn"
        (click)="openDialogDetailDelete()">
        Delete
      </button>
    </div> -->
<!--     <ngx-datatable class="material"
      [rows]="rws"
      [columns]="columns">
    </ngx-datatable> -->
  </div>
</div>
