<div *ngIf="method == ACTION_LIST">
    <div class="card" >
        <div class="row">
            <div class ="col-sm-12">
                <div class="card-header">
                    KK<button type="button" class="btn-link" (click)="callForm()">Add</button>
                </div>
                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                           <thead>
                            <tr>
                                <th>Action</th>
                                <th>KK No</th>
                                <th>Details</th>
                                <th>Address</th>
                                <th>RT No</th>
                                <th>RW No</th>
                                <th>Block</th>
                                <th>Lot</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let kk of kks">
                                <td><button type="button" (click)="callForm(kk.id)" class="btn-link">Edit</button> | <button type="button" class="btn-link" (click)="saveDelete(kk.id)">Delete</button></td>
                                <td>{{ kk.kkNo }}</td>
                                <td>{{ kk.address }}</td>
                                <td><a [routerLink]="['/master/kk_details', kk.id]">Detail </a></td>
                                <td>{{ kk.rtNo }}</td>
                                <td>{{ kk.rwNo }}</td>
                                <td>{{ kk.blockNo }}</td>
                                <td>{{ kk.lotNo }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="method == ACTION_UPDATE || method == ACTION_ADD">
    <form [formGroup]="kk_form" (ngSubmit)="save()">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> KK
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="form-group">       
                                <label>KK No</label>
                                <input type="text" class="form-control" formControlName="kkNo">                            
                                <div *ngIf="kk_form.get('kkNo').touched && kk_form.get('kkNo').hasError('required')" class="alert alert-danger">
                                    KK No is required.
                            </div>
                        </div>
                        <div class="form-group">       
                            <label>Address </label>
                            <input type="text" class="form-control" formControlName="address">                            
                            <div *ngIf="kk_form.get('address').touched && kk_form.get('address').hasError('required')" class="alert alert-danger">
                                Address is required.
                        </div>
                    </div>
                    <div class="form-group">       
                        <label>Lot No</label>
                        <!--                        <input type="text" class="form-control" formControlName="lot">                            
                                                <div *ngIf="kk_form.get('lot').touched && kk_form.get('lot').hasError('required')" class="alert alert-danger">
                                                    Lot is required.
                                            </div>-->
                        <select class="form-control" formControlName="lot">
                            <option *ngFor="let lot of lots"
                                [value]="lot.id">
                                {{lot.lotNo}}
                        </option>
                    </select>          
                    <div *ngIf="kk_form.get('lot').touched && kk_form.get('lot').hasError('required')" class="alert alert-danger">
                        Lot No is required.
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>            
    </div>
</div>
</div>
</div>
</form>
</div>
