<div *ngIf="method == ACTION_LIST">
    <div class="card" >
        <div class="row">
            <div class ="col-sm-12">
                <div class="card-header">
                    KK<button type="button" class="btn-link" (click)="callForm()">Add</button>
                </div>
                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                           <thead>
                            <tr>
                                <th>Action</th>
                                <th>KK No</th>
                                <th>Details</th>
                                <th>Address</th>
                                <th>RT No</th>
                                <th>RW No</th>
                                <th>Block</th>
                                <th>Lot</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let kk of kks">
                                <td><button type="button" (click)="callForm(kk.id)" class="btn-link">Edit</button> | <button type="button" class="btn-link" (click)="saveDelete(kk.id)">Delete</button></td>
                                <td>{{ kk.kkNo }}</td>
                                <td>{{ kk.address }}</td>
                                <td><a [routerLink]="['/master/kk_details', kk.id]">Detail </a></td>
                                <td>{{ kk.rtNo }}</td>
                                <td>{{ kk.rwNo }}</td>
                                <td>{{ kk.blockNo }}</td>
                                <td>{{ kk.lotNo }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="method == ACTION_UPDATE || method == ACTION_ADD">
    <form [formGroup]="kk_form" (ngSubmit)="save()">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> KK
                    </div>
                    <div class="card-body">
                        <div class="col-sm-6">
                            <div class="form-group">       
                                <label>KK No</label>
                                <input type="text" class="form-control" formControlName="kkNo">                            
                                <div *ngIf="kk_form.get('kkNo').touched && kk_form.get('kkNo').hasError('required')" class="alert alert-danger">
                                    KK No is required.
                            </div>
                        </div>
                        <div class="form-group">       
                            <label>Address </label>
                            <input type="text" class="form-control" formControlName="address">                            
                            <div *ngIf="kk_form.get('address').touched && kk_form.get('address').hasError('required')" class="alert alert-danger">
                                Address is required.
                        </div>
                    </div>
                    <div class="form-group">       
                        <label>Lot No</label>
                        <select class="form-control" formControlName="lot">
                            <option *ngFor="let lot of lots"
                                [value]="lot.id">
                                {{lot.lotNo}}
                        </option>
                    </select>          
                    <div *ngIf="kk_form.get('lot').touched && kk_form.get('lot').hasError('required')" class="alert alert-danger">
                        Lot No is required.
                </div>
            </div>            
        </div>
        <div class="row">  
            <div class="col-sm-12">
                <div class="col-sm-1">
                    <button type="button" class="btn btn-block"(click)="modalOpen(content)"><i class="fa fa-plus"></i></button> 
                </div>
                <!--For detail-->
                <div class="col-sm-12">
                    <table class="table table-responsive table-condensed" >
                        <thead>
                            <tr>
                                <td>Action</td>
                                <td>NIK</td>
                                <td>Education</td>
                                <td>Family Relation</td>
                                <td>Father Name</td>
                                <td>Mother Name</td>            
                            </tr>
                        </thead>
                        <tbody style="height:200px">
                            <tr *ngFor="let kk_detail of kk_details">
                                <td><button type="button" (click)="edit_detail(content,kk_detail.id)" class="btn-link">Edit</button> | <button type="button" class="btn-link" (click)="delete_detail(kk_detail.id)">Delete</button></td>
                                <td>{{ kk_detail.nik }}</td>
                                <td>{{ kk_detail.educationDescs }}</td>
                                <td>{{ kk_detail.familyRelationDescs }}</td>
                                <td>{{ kk_detail.fatherName }}</td>
                                <td>{{ kk_detail.motherName }}</td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>            
    </div>
</div>
</div>
</div>
</form>
</div>



<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">KK Detail</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!--<form role="form" #form="form" (ng-submit)="save_detail(form.value)">-->
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Education</label>
                    <select class="form-control" [(ngModel)]="kk_item_modal.education" id="education" #education (change)="updateEducation(education.options[education.options.selectedIndex].text)">
                        <option value="01">Tidak / Belum Sekolah</option>
                        <option value="02">Belum Tamat SD / Sederajat</option>
                        <option value="03">Tamat SD / Sederajat</option>
                        <option value="04">SLTP / Sederajat</option>
                        <option value="05">SLTA / Sederajat</option>
                        <option value="06">Diploma I / II</option>
                        <option value="07">Akademi / Diploma III / Sarjana Muda</option>
                        <option value="08">Diploma IV / Sastra I</option>
                        <option value="09">Sastra II</option>
                        <option value="10">Sastra III</option>
                    </select>
                </div>
                <div class="form-group">       
                    <label>Family Relation </label>
                    <select class="form-control" [(ngModel)]="kk_item_modal.familyRelation" id="fr" #fr (change)="updateFamilyRelation(fr.options[fr.options.selectedIndex].text)">                            
                        <option value ="01">Kepala Keluarga</option>
                        <option value ="02">Suami</option>
                        <option value ="03">Istri</option>
                        <option value ="04">Anak</option>
                        <option value ="05">Menantu</option>
                        <option value ="06">Cucu</option>
                        <option value ="07">Orangtua</option>
                        <option value ="08">Mertua</option>
                        <option value ="09">Family Lain</option>
                        <option value ="10">Pembantu</option>
                        <option value ="11">Lainnya</option>
                    </select>
                </div>
                
                <div class="form-group">       
                    <label>Father Name</label>
                    <input type="text" class="form-control" [(ngModel)]="kk_item_modal.fatherName">                            

                </div>
                <div class="form-group">       
                    <label>Mother Name</label>
                    <input type="text" class="form-control" [(ngModel)]="kk_item_modal.motherName">                            
                </div>
                <div class="form-group">       
                    <label>KTP</label>
                    <select class="form-control" [(ngModel)]="kk_item_modal.ktp" id="ktp_data" #ktp_data (change)="updateKTP(ktp_data.options[ktp_data.options.selectedIndex].text)">
                        <option *ngFor="let ktp of ktps" [value]="ktp.id">{{ktp.nik}}</option>            
                    </select>
                </div>
            </div>
        <!--</form>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="save_detail()">Simpan</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

