<div class="card">
    <div class="row">
        <div class ="col-sm-12">
            <div class="card-header">
                RW
            </div>
            <div class="card-body">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                       <thead>
                        <tr>
                            <th>Action</th>
                            <th>No RW</th>
                            <th>RW Desc</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rw of rws">
                            <td><a href="{{this.router.url}}/{{rw.rwNo}}">Add</a> | <a href="{{this.router.url}}/{{rw.rwNo}}">Edit</a> | <a href="{{this.router.url}}/{{rw.rwNo}}">Delete</a></td>
                            <td>{{ rw.rwNo }}</td>
                            <td>{{ rw.rwDescs }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>