<div *ngIf="method == ACTION_LIST">
    <div class="card" >
        <div class="row">
            <div class ="col-sm-12">
                <div class="card-header">
                    LOT<button type="button" class="btn-link" (click)="callForm()">Add</button>
                </div>
                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                           <thead>
                            <tr>
                                <th>Action</th>
                                <th>RW No</th>
                                <th>Rt No</th>
                                <th>Block No</th>
                                <th>Lot No</th>
                                <th>Description</th>
                                <th>Land Area</th>
                                <th>Build Area</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lot of lots">
                                <td><button type="button" (click)="callForm(lot.id)" class="btn-link">Edit</button> | <button type="button" class="btn-link" (click)="saveDelete(lot.id)">Delete</button></td>
                                <td>{{ lot.rwNo }}</td>
                                <td>{{ lot.rtNo }}</td>
                                <td>{{ lot.blockNo }}</td>
                                <td>{{ lot.lotNo }}</td>
                                <td>{{ lot.descs }}</td>
                                <td>{{ lot.landArea }}</td>
                                <td>{{ lot.buildArea }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="method == ACTION_UPDATE || method == ACTION_ADD">
    <form [formGroup]="lot_form" (ngSubmit)="save()">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Lot
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="form-group">       
                                <label>Block No</label>
                                <select  class="form-control" formControlName="block">
                                    <option *ngFor="let block of blocks"
                                        [value]="block.id" [selected]= "block.id == lot_form.get('block').value">
                                        {{block.blockNo}}
                                    </option>
                                </select>                          
                                <div *ngIf="lot_form.get('block').touched && lot_form.get('block').hasError('required')" class="alert alert-danger">
                                    Rt is required.
                                </div>
                            </div>
                            <div class="form-group">       
                                <label>Lot No</label>
                                <input type="text" class="form-control" formControlName="lotNo">                            
                                <div *ngIf="lot_form.get('lotNo').touched && lot_form.get('lotNo').hasError('required')" class="alert alert-danger">
                                    Lot No is required.
                                </div>
                            </div>
                            <div class="form-group">       
                                <label>Desc</label>
                                <input type="text" class="form-control" formControlName="descs">                            
                                <div *ngIf="lot_form.get('descs').touched && lot_form.get('descs').hasError('required')" class="alert alert-danger">
                                    Descs is required.
                                </div>
                            </div>
                            <div class="form-group">       
                                <label>Land Area</label>
                                <input type="text" class="form-control" formControlName="landArea">                            
                                <div *ngIf="lot_form.get('landArea').touched && lot_form.get('landArea').hasError('required')" class="alert alert-danger">
                                    Land Area is required.
                                </div>
                            </div>
                            <div class="form-group">       
                                <label>Build Area</label>
                                <input type="text" class="form-control" formControlName="buildArea">                            
                                <div *ngIf="lot_form.get('buildArea').touched && lot_form.get('buildArea').hasError('required')" class="alert alert-danger">
                                    Build Area is required.
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>