
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Payment
            </div>
            <div class="card-body">
                <div class="col-sm-6">
                    <form [formGroup]="invoice_payment_form" (ngSubmit)="payment()">
                        <div class="form-group" >
                            <label>Document Date</label>
                            <input type="date" class="form-control" formControlName="docDate">                            
                            <div *ngIf="invoice_payment_form.get('docDate').touched && invoice_payment_form.get('docDate').hasError('required')" class="alert alert-danger">
                                Document Date is required.
                        </div>
                    </div>
                    <div class="form-group">       
                        <label>Trx Type</label>
                        <select  class="form-control" formControlName="trxType">                      
                            <option *ngFor="let trxType of trxTypes"
                                [value]="trxType.id">
                                {{trxType.trxTypeCode}}
                        </option>
                    </select>
                    <div *ngIf="invoice_payment_form.get('trxType').touched && invoice_payment_form.get('trxType').hasError('required')" class="alert alert-danger">
                        Charge is required.
                </div>
            </div>
            <div class="form-group">       
                <label>Ref No</label>
                <input type="text" class="form-control" formControlName="refNo">                            
                <div *ngIf="invoice_payment_form.get('refNo').touched && invoice_payment_form.get('refNo').hasError('required')" class="alert alert-danger">
                    Description is required.
            </div>
        </div>
        <div class="form-group">       
            <label>Amount</label>
            <input type="number" class="form-control" formControlName="docAmt">                            
            <div *ngIf="invoice_payment_form.get('docAmt').touched && invoice_payment_form.get('docAmt').hasError('required')" class="alert alert-danger">
                Amount is required.
        </div>
    </div>
    <button type="submit" class="btn btn-success"> Bayar </button>                       

</form>

</div>
<div class="row">
    <div class ="col-sm-12">
        <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                   <thead>
                    <tr>
                        <td></td>
                        <th>Lot</th>
                        <th>Descs</th>
                        <th>Tgl</th>
                        <th>Total Faktur</th>
                        <th>Pembayaran</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoice of invoices">                            
                        <td><input type="checkbox" [(ngModel)]="invoice.checked"></td>
                        <td>{{ invoice.lotNo }}</td>
                        <td>{{ invoice.descs }}</td>
                        <td>{{ invoice.docDate }}</td>
                        <td>{{ invoice.docAmt }}</td>
                        <td><input type="number" [(ngModel)]="invoice.paymentAmt" [disabled]="!invoice.checked" [max] ="invoice.docAmt"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>