<div *ngIf="method == ACTION_LIST">
    <div class="card" >
        <div class="row">
            <div class ="col-sm-12">
                <div class="card-header">
                    BLOCK<button type="button" class="btn-link" (click)="callForm()">Add</button>
                </div>
                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                           <thead>
                            <tr>
                                <th>Action</th>
                                <th>Block No</th>
                                <th>Description</th>
                                <th>Rt No</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let block of blocks">
                                <td><button type="button" (click)="callForm(block.id)" class="btn-link">Edit</button> | <button type="button" class="btn-link" (click)="saveDelete(block.id)">Delete</button></td>
                                <td>{{ block.blockNo }}</td>
                                <td>{{ block.descs }}</td>
                                <td>{{ block.rtNo }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="method == ACTION_UPDATE || method == ACTION_ADD">
    <form [formGroup]="block_form" (ngSubmit)="save()">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Block
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="form-group">       
                                <label>Block No</label>
                                <input type="text" class="form-control" formControlName="blockNo">                            
                                <div *ngIf="block_form.get('blockNo').touched && block_form.get('blockNo').hasError('required')" class="alert alert-danger">
                                    Block No is required.
                                </div>
                            </div>
                            <div class="form-group">       
                                <label>Block Desc</label>
                                <input type="text" class="form-control" formControlName="descs">                            
                                <div *ngIf="block_form.get('descs').touched && block_form.get('descs').hasError('required')" class="alert alert-danger">
                                    Descs is required.
                                </div>
                            </div>
                            <div class="form-group">       
                                <label>Rt No</label>
                                <select  class="form-control" formControlName="rt">
                                    <option *ngFor="let rt of rts"
                                        [value]="rt.id" [selected]= "rt.id == block_form.get('rt').value">
                                        {{rt.rtNo}}
                                    </option>
                                </select>                          
                                <div *ngIf="block_form.get('rt').touched && block_form.get('rt').hasError('required')" class="alert alert-danger">
                                    Rt is required.
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>